<html ng-app="bbcRadioApp">
    <head>
        <script src="js/angular.min.js"></script>
        <script src="js/bbcRadioApp.js"></script>

        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #719e40;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 100px;
                font-weight: 200;
                margin-bottom: 0;
            }
        </style>
    </head>


    <body ng-controller="bbcProductController">
        <h1>BBC test</h1>
        <div>Radio & Music</div>

        <input id="search_box" type="text" name="searcher" ng-model="search_string"/>
        <button type="button" ng-click="searchByString();">Search</button>

        <p>

        <div ng-if="search_results.length == 0">
            No results
        </div>
        <div ng-repeat="result in search_results">
            {{ result.title}}
        </div>
    </body>
</html>
